<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <appSettings>
    <!--PhigicalAddress start--><!--
    <add key="OrganizationFile" value="C:\CEDLogs\CEDMCOrganization.txt" />
    <add key="SettingFile" value="C:\CEDLogs\CEDMCSettings.txt" />
    <add key="LicenseCodeFile" value="C:\CEDLogs\LicenseCodeFile.txt" />
    <add key="CEInfoUploadFolder" value="C:\inetpub\wwwroot\CEDManagementConsole\Contents\CEInfo" />
    <add key="CELogsFolder" value="C:\inetpub\wwwroot\CEDManagementConsole\Contents\CELogs" />
    --><!--PhigicalAddress end--><!--
    --><!--Account Info start--><!--
    <add key="SEGAccount" value="01930" />
    <add key="SEGPassword" value="rGsA5EahFk5j7G4LIkyOPQ==" />
    <add key="SEGPassword1" value="rGsA5EahFk5j7G4LIkyOPQ==" />
    <add key="SEGPassword2" value="/xCoSSeZf3lWR8Tg9rRbdw==" />
    <add key="SEGPassword3" value="QNGRdY4YIO6SvTHj6yUrZw==" />
    <add key="RPAUserAADID" value="e77fed34-e261-4961-bed0-96d78aa34f50" />
    <add key="CRMS ID" value="my090334" />
    <add key="CRMS PW" value="wAkZFCjsGXZgYQu2/TVrVQ==" />
    <add key="CRMS PW1" value="oATCoLZaLkYHQWYz3LyzAw==" />
    <add key="CRMS PW2" value="wAkZFCjsGXZgYQu2/TVrVQ==" />
    --><!--Account Info end-->
    
    <add key="AesCryptoServiceProvider Key" value="yDBwSNlVzCN9HGqaY/cgag==" />
    <add key="AesCryptoServiceProvider IV" value="TCLlnPZ6gpWw9H0oj459ZQ==" />
    <!--<add key="SEGPasswordChangesAt" value="2019/05/13" />
    <add key="SEGPasswordChangesBy" value="SEG本部RPAユーザ" />
    <add key="CRMSPasswordChangesAt" value="2019/05/13" />
    <add key="CRMSPasswordChangesBy" value="SEG本部RPAユーザ" />-->
    
    <!--Microsoft Graph start-->
    <!--
    <add key="Tenant" value="8caf0b7f-e281-4ab5-96c4-a65d47db9583" />
    <add key="ClientIdAppEx" value="9ada8c2e-195f-4ec5-995d-76737366d28e" />
    <add key="ClientIdProduct" value="bd27bde4-3738-4713-be53-a8a190717977" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
    <add key="RedirectUriNative" value="https%3A%2F%2Flogin.microsoftonline.com%2Fcommon%2Foauth2%2Fnativeclient" />
    <add key="RedirectUriLocal" value="http%3A%2F%2Flocalhost%2FCEDManagementConsole" />
    <add key="RedirectUriProduct" value="https%3A%2F%2Fsegrpa04%2FCEDManagementConsole" />
    <add key="ClientSecret" value="eT9st7mzlLPIn24Kkp7uARtLU3cAuiDIIcIQxU9V5PeDEJajn40PDY7icDjZ9lO5bqv2EtBa7i1lV4D9I0r83Q==" />
    <add key="SecretExpireDate" value="2019/12/31" />
    <add key="ScopeAll" value="openid+https%3A%2F%2Fgraph.microsoft.com%2Fuser.read+https%3A%2F%2Fgraph.microsoft.com%2Fmail.send+https%3A%2F%2Fgraph.microsoft.com%2Fmail.read+https%3A%2F%2Fgraph.microsoft.com%2Fgroup.read.all+https%3A%2F%2Fgraph.microsoft.com%2Fgroup.readwrite.all" />
    <add key="InqueryGroupID" value="827dbc31-ba63-4b6b-9272-6101642a3882" />
    <add key="InqueryChannelID" value="19%3ae492571047674bc7bdf3ddbd52f09400%40thread.skype" />
    <add key="DevTeamsGroupID" value="ba7e6845-5e8d-4746-9437-b284b517311c" />
    <add key="DevTeamsChannelID" value="19%3abf51e3b1fc164ba4adc7db1315dfeb64%40thread.skype" />
    --><!--Microsoft Graph end--><!--
    <add key="BacklogMail" value="issue-CED_SYSTEM_FAILURE-n8FMlqAMIMXmtKzFvrHOuws0e@i5.backlog.com"/>
    --><!--VANTIQ Cloud start--><!--
    <add key="UsingProductVANTIQ" value="false" />
    <add key="CEDTokenStaging" value="_Kt3klbiz4oyJOsx4Cci-QUsGHXK3P4RYkMIQv_A8eU=" />
    <add key="CEDTokenProduct" value="Csm9nIFjuPIMnZGeA0jpZZ8du421iT-HUWRljHtxXiU=" />
    <add key="CEDTokenStagingProduct" value="NR9hr6DYcjho6D_l9Uuh_1mnMc9_u6fuO-rmQGuaaH0=" />
    --><!--VANTIQ Cloud end--><!--
    --><!--For developer start--><!--
    <add key="ProductWebAPIAddress" value="http://172.20.250.99/CEDTelemetryWebAPI" />
    <add key="StagingWebAPIAddress" value="http://localhost/CEDTelemetryWebAPI" />
    <add key="UsingProductWebAPI" value="true" />
    <add key="UsingProductConsole" value="true" />
    --><!--For developer end--><!--

    <add key="TimeSpanOfNotify" value="2" />
    <add key="RPAMoniteringSpan" value="2" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
  </appSettings>

</configuration>